---
import { Icon } from 'astro-icon/components';
import Container from '../core/Container.astro';
import { FooterLists, FooterSocials } from '@config/footer';
import { getLangFromUrl, useTranslations } from '@i18n/utils';
import { Address } from '@utils/company';
import { Fragment } from 'astro/jsx-runtime';
import ThemeSwitcher from '@components/theme-switcher/ThemeSwitcher.astro';
import BrandLogo from '@images/laguntza-fisioterapia-isotipo-19.svg';

type Props = {
	footerSocials: FooterSocials;
	footerLists: FooterLists;
	copyrightName: string;
};

const { footerSocials, footerLists, copyrightName }: Props = Astro.props;

const lang = getLangFromUrl(Astro.url);
const t = useTranslations(lang);
---

<footer>
	<Container class="footer-container">
		<ul class="footer-socials__list">
			{
				footerSocials.map(social => (
					<li class="footer-socials__item">
						<a
							href={social.url}
							target="_blank"
							rel="noopener noreferrer"
							class="footer-socials__link"
							title={`Open ${social.name} profile`}
						>
							<Icon name={social.icon} width={24} height={24} />
						</a>
					</li>
				))
			}
		</ul>

		<a class="footer_address" href={Address.url}>
			<span>{Address.name}</span>
		</a>

		<h3 class="quick-links">
			{
				footerLists.map((item, index) => (
					<>
						<a href={`/${lang}${item.slug}`}>{t(item.title)}</a>
						{index !== footerLists.length - 1 && <span> — </span>}
					</>
				))
			}
		</h3>

		<div class="theme-toggle-container">
			<ThemeSwitcher />
		</div>
		<div class="footer-logo__container">
			<BrandLogo />
		</div>
		<div class="footer-copyright__container">
			<p>Copyright &copy; {new Date().getFullYear()} {copyrightName}</p>
		</div>
	</Container>
</footer>

<style>
	footer {
		min-height: 40vh;
		background-color: var(--theme-primary-container);
		color: var(--theme-on-primary-container);
		border-top-left-radius: var(--theme-shape-radius);
		border-top-right-radius: var(--theme-shape-radius);
	}
	.footer-container {
		display: flex;
		flex-direction: column;
		align-items: center;
		justify-content: center;
		gap: var(--s4);
		padding: var(--s4) 0;
	}
	.footer-logo__container {
		height: 10rem;
		width: 10rem;
	}

	.footer-socials__list {
		margin: 0;
		margin-top: auto;
		padding: 0;
		display: flex;
		list-style: none;
	}
	.footer-socials__item {
		margin-right: 0.5rem;
	}
	.footer-link__list {
		margin: 0;
		padding: 0;
		list-style: none;
	}
	.footer-link__list li {
		margin-bottom: 0.5rem;
	}
	.footer-link__list li a {
		text-decoration: none;
	}
	.footer-link__list li a:hover {
		opacity: 0.84;
	}
	.footer-copyright__container {
		display: flex;
		flex-direction: column;
		/* justify-content: space-between; */
	}
	.footer-copyright__container p {
		font-size: var(--font-size-sm);
	}
	@media (max-width: 768px) {
		.footer-grid__container {
			padding: 5vh 0;
			grid-template-columns: 1fr;
			gap: var(--s4);
		}
	}
	@media (max-width: 600px) {
		.footer-grid__container {
			padding: 5vh 0;
			grid-template-columns: 1fr;
			gap: var(--s4);
		}
		.footer-copyright__container {
			flex-direction: column;
		}
	}

	li {
		display: grid;
		grid-template-columns: auto 1fr;
		column-gap: var(--s);
		svg {
			margin-top: 4px;
		}
	}

	.footer_address {
		display: flex;
		align-items: flex-start;
		gap: var(--s2);
		text-align: center;
		text-decoration: none;
		&:hover {
			text-decoration: underline;
		}
	}

	.quick-links {
		text-align: center;
		white-space: pre-wrap;
		display: flex;
		flex-wrap: wrap;
		justify-content: center;
		font-size: var(--font-size-base);
		a {
			padding-bottom: 0.05em;
			border-bottom-width: 1px;
			border-bottom-style: solid;
			text-decoration: none;
			border-bottom-color: inherit;
		}
	}

	a {
		transition: opacity 0.3s ease-in-out;
	}

	a:hover {
		opacity: 0.72;
	}
</style>
