---
import { Icon } from 'astro-icon/components';
import Container from '../core/Container.astro';
import { footerLists, footerSocials, authors } from '@config/footer';
import { getLangFromUrl, useTranslations } from '@i18n/utils';
import { Address, Phone, WhatsApp } from '@config/company';
import { Fragment } from 'astro/jsx-runtime';
import ThemeSwitcher from '@components/theme-switcher/ThemeSwitcher.astro';
import BrandLogo from '@images/logos/isotipo-main.svg';
import PhoneIcon from '@icons/phone.svg';
import { settings } from '@config/settings';
import MarkerIcon from '@icons/marker.svg';

const copyrightName = settings.name;

const lang = getLangFromUrl(Astro.url);
const t = useTranslations(lang);
const props = Astro.props;
---

<footer {...props} lang={lang} aria-label={t('footer')} role="contentinfo">
	<Container narrow class="footer-container">
		<nav aria-label={t('social-media-links')}>
			<ul class="footer-socials__list">
				{
					footerSocials.map(social => (
						<li class="footer-socials__item">
							<a
								href={social.url}
								target="_blank"
								rel="noopener noreferrer"
								class="footer-socials__link"
								title={`Open ${social.name} profile`}
								aria-label={`Open ${social.name} profile`}
							>
								<Icon name={social.icon} width={24} height={24} />
							</a>
						</li>
					))
				}
			</ul>
		</nav>
		<address>
			<span class="footer-link_icon">
				<a
					title={`Llamar a ${WhatsApp.name}`}
					aria-label={`Llamar a ${WhatsApp.name}`}
					href={WhatsApp.urlCall}
				>
					<PhoneIcon fill="currentColor" />
				</a>
				<a
					title={`Llamar a ${WhatsApp.name}`}
					aria-label={`Llamar a ${WhatsApp.name}`}
					href={WhatsApp.urlCall}
					class="phone-link"
				>
					{WhatsApp.name}
				</a>
				{' · '}
				<a
					href={Phone.url}
					class="phone-link"
					title={`Llamar a ${Phone.name}`}
					aria-label={`Llamar a ${Phone.name}})`}
				>
					{Phone.name}
				</a>
			</span>
			<a
				class="footer-link_icon"
				href={Address.url}
				title={`Ir a ${Address.name}`}
				aria-label={`Ir a ${Address.name}`}
			>
				<MarkerIcon fill="currentColor" />
				{Address.name}
			</a>
		</address>
		<nav aria-label={t('quick-links')}>
			<h3 class="quick-links">
				{
					footerLists.map((item, index) => (
						<>
							<a
								href={`/${lang}${item.slug}`}
								title={t(item.title)}
								aria-label={t(item.title)}
							>
								{t(item.title)}
							</a>
							{index !== footerLists.length - 1 && <span> — </span>}
						</>
					))
				}
			</h3>
		</nav>
		<div class="theme-toggle-container" aria-label={t('theme-switcher')}>
			<ThemeSwitcher />
		</div>
		<div class="footer-logo__container">
			<BrandLogo aria-label={settings.title} />
		</div>
	</Container>
	<div class="footer-copyright">
		<Container class="footer-copyright__container">
			<section class="footer-dev-credit">
				{t('developed-by')}

				<ul class="footer-author-list">
					{
						authors.map(author => (
							<li class="footer-author-list__single-author">
								<strong>{author.name}</strong>
								<ul class="footer-socials__list">
									{author.socials.map(social => (
										<li>
											<a
												href={social.url}
												target="_blank"
												rel="author noopener noreferrer"
												class="footer-socials__link"
												title={social.title}
												aria-label={social.title}
											>
												{social.iconType === 'component' ? (
													<social.icon fill="currentColor" />
												) : (
													<Icon name={social.icon} width={24} height={24} />
												)}
											</a>
										</li>
									))}
								</ul>
							</li>
						))
					}
				</ul>
			</section>
			<small class="footer-copyright__text">
				Copyright &copy; {new Date().getFullYear()}
				{copyrightName}
			</small>
		</Container>
	</div>
</footer>

<style>
	footer {
		min-height: 40vh;
		background-color: var(--theme-primary-container);
		color: var(--theme-on-primary-container);
		border-top-left-radius: var(--theme-shape-radius);
		border-top-right-radius: var(--theme-shape-radius);
		padding-top: var(--s4);
	}

	a {
		text-decoration: none;
		transition: opacity 0.3s ease-in-out;
		&:hover {
			opacity: 0.72;
		}
		&.phone-link {
			text-decoration: underline;
		}
	}

	ul {
		list-style: none;
	}

	.footer-container {
		display: flex;
		flex-direction: column;
		align-items: center;
		justify-content: center;
		gap: var(--s4);
		display: flex;
		flex: 1;
		&:global(.content__container) {
			padding-bottom: var(--s4);
		}
	}
	.footer-logo__container {
		width: 10rem;
	}

	.footer-dev-credit {
		font-size: var(--font-size-sm);
		display: flex;
		flex-direction: column;
		gap: var(--s2);
	}

	.footer-author-list {
		display: flex;
		flex-direction: column;
		padding: 0;
		margin: 0;
	}

	.footer-author-list__single-author {
		display: flex;
		flex-direction: column;
		flex-wrap: nowrap;
		align-items: flex-start;
		&:not(:first-child) {
			border-top: 1px solid var(--theme-outline);
			padding-top: var(--s2);
		}
	}

	.footer-socials__list {
		margin: 0;
		margin-top: auto;
		padding: 0;
		display: flex;
	}
	.footer-socials__link {
		padding: var(--s2);
		border-radius: 100%;
		display: flex;
		align-items: center;
		justify-content: center;
		transition: background-color 0.3s ease-in-out;
		&:hover {
			background-color: rgba(0, 0, 0, 0.1);
		}
	}

	address {
		display: flex;
		flex-direction: column;
		align-items: center;
		gap: var(--s2);
	}
	.footer-copyright {
		border-top: 1px solid var(--theme-outline);
		padding: var(--s4) 0;
		width: 100%;
	}

	.footer-copyright__container {
		width: 100%;
		display: flex;
		flex-direction: row;
		justify-content: space-between;
		align-items: center;
		width: 100%;
		flex-wrap: wrap;
		font-size: var(--font-size-sm);
		gap: var(--s2);
	}

	ul {
		display: grid;
		grid-template-columns: auto 1fr;
		column-gap: var(--s);
	}

	.quick-links {
		text-align: center;
		white-space: pre-wrap;
		display: flex;
		flex-wrap: wrap;
		justify-content: center;
		font-size: var(--font-size-base);
		a {
			padding-bottom: 0.05em;
			border-bottom-width: 1px;
			border-bottom-style: solid;
			text-decoration: none;
			border-bottom-color: inherit;
		}
	}
	.footer-link_icon {
		display: flex;
		align-items: flex-start;
		gap: var(--s);
		&:hover {
			text-decoration: underline;
		}
	}

	.footer-dev-credit__author-label {
		margin: 0;
	}
	.footer-dev-credit a {
		color: inherit;
		text-decoration: underline;
	}

	.footer-copyright__text {
		align-self: flex-end;
	}

	@media (max-width: 768px) {
		.footer-copyright__container {
			flex-direction: column;
		}
		.footer-copyright__text {
			align-self: center;
		}
	}
</style>
