---
import { Icon } from 'astro-icon/components';
import Container from '../core/Container.astro';
import { footerLists, footerSocials } from '@config/footer';
import { getLangFromUrl, useTranslations } from '@i18n/utils';
import { Address, Phone } from '@utils/company';
import { Fragment } from 'astro/jsx-runtime';
import ThemeSwitcher from '@components/theme-switcher/ThemeSwitcher.astro';
import BrandLogo from '@images/laguntza-fisioterapia-isotipo-19-cropped.svg';
import PhoneIcon from '@icons/phone.svg';
import { settings } from '@config/settings';

const copyrightName = settings.name;

const lang = getLangFromUrl(Astro.url);
const t = useTranslations(lang);
const props = Astro.props;
---

<footer {...props}>
	<Container class="footer-container">
		<ul class="footer-socials__list">
			{
				footerSocials.map(social => (
					<li class="footer-socials__item">
						<a
							href={social.url}
							target="_blank"
							rel="noopener noreferrer"
							class="footer-socials__link"
							title={`Open ${social.name} profile`}
						>
							<Icon name={social.icon} width={24} height={24} />
						</a>
					</li>
				))
			}
		</ul>
		<a href={Phone.url} class="footer-link_icon">
			<PhoneIcon fill="currentColor" />
			{Phone.name}
		</a>

		<a class="footer-link_icon" href={Address.url}>
			{Address.name}
		</a>

		<h3 class="quick-links">
			{
				footerLists.map((item, index) => (
					<>
						<a href={`/${lang}${item.slug}`}>{t(item.title)}</a>
						{index !== footerLists.length - 1 && <span> — </span>}
					</>
				))
			}
		</h3>

		<div class="theme-toggle-container">
			<ThemeSwitcher />
		</div>
		<div class="footer-logo__container">
			<BrandLogo />
		</div>
		<div class="footer-copyright__container">
			<p>Copyright &copy; {new Date().getFullYear()} {copyrightName}</p>
		</div>
	</Container>
</footer>

<style>
	footer {
		min-height: 40vh;
		background-color: var(--theme-primary-container);
		color: var(--theme-on-primary-container);
		border-top-left-radius: var(--theme-shape-radius);
		border-top-right-radius: var(--theme-shape-radius);
	}

	a {
		text-decoration: none;
		transition: opacity 0.3s ease-in-out;
		&:hover {
			opacity: 0.72;
		}
	}

	.footer-container {
		display: flex;
		flex-direction: column;
		align-items: center;
		justify-content: center;
		gap: var(--s4);
		padding: var(--s4) 0;
	}
	.footer-logo__container {
		height: 10rem;
		width: 10rem;
	}

	.footer-socials__list {
		margin: 0;
		margin-top: auto;
		padding: 0;
		display: flex;
		list-style: none;
	}
	.footer-socials__link {
		padding: var(--s2);
		border-radius: 100%;
		display: flex;
		align-items: center;
		justify-content: center;
		transition: background-color 0.3s ease-in-out;
		&:hover {
			background-color: rgba(0, 0, 0, 0.1);
		}
	}

	.footer-link__list {
		margin: 0;
		padding: 0;
		list-style: none;
	}
	.footer-link__list li {
		margin-bottom: 0.5rem;
	}
	.footer-link__list li a {
		text-decoration: none;
	}
	.footer-link__list li a:hover {
		opacity: 0.84;
	}
	.footer-copyright__container {
		display: flex;
		flex-direction: column;
		/* justify-content: space-between; */
	}
	.footer-copyright__container p {
		font-size: var(--font-size-sm);
	}

	li {
		display: grid;
		grid-template-columns: auto 1fr;
		column-gap: var(--s);
	}

	.quick-links {
		text-align: center;
		white-space: pre-wrap;
		display: flex;
		flex-wrap: wrap;
		justify-content: center;
		font-size: var(--font-size-base);
		a {
			padding-bottom: 0.05em;
			border-bottom-width: 1px;
			border-bottom-style: solid;
			text-decoration: none;
			border-bottom-color: inherit;
		}
	}
	.footer-link_icon {
		display: flex;
		align-items: center;
		gap: var(--s);
		text-align: center;
		&:hover {
			text-decoration: underline;
		}
	}
</style>
