---
import { settings } from '@config/settings';
import ThemeProvider from '../theme-switcher/ThemeProvider.astro';

import '../../styles/index.css';
import { getLangFromUrl, useTranslations } from '@i18n/utils';
import { ClientRouter } from 'astro:transitions';
import OpenGraph from './OpenGraph.astro';
import StructuredData from './StructuredData.astro';

export interface Props {
	title?: string;
	description?: string;
	canonicalURL?: URL | string;
	image?: string;
}

const lang = getLangFromUrl(Astro.url);
const t = useTranslations(lang);
const title = Astro.props.title || settings.title;
const description = Astro.props.description || t(settings.description);
const canonicalURL =
	Astro.props.canonicalURL || new URL(Astro.url.pathname, Astro.site);
---

<!-- Global Metadata -->
<meta http-equiv="Content-Language" content={lang} />
<meta name="viewport" content="width=device-width" />
<link rel="icon" type="image/png" href="/favicon-96x96.png" sizes="96x96" />
<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
<link rel="shortcut icon" href="/favicon.ico" />
<link rel="apple-touch-icon" sizes="180x180" href="/apple-touch-icon.png" />
<link rel="manifest" href="/site.webmanifest" />
<link rel="sitemap" href="/sitemap-index.xml" />
<meta charset="UTF-8" />
<!-- Primary Meta Tags -->
<title>{title}</title>
<meta name="title" content={title} />
<meta name="description" content={description} />
<link rel="canonical" href={canonicalURL} />
<!-- Author -->
<meta name="author" content="Jon Ramos" />
<!-- Generator -->
<meta name="generator" content={Astro.generator} />

<!-- Keywords for SEO -->
<meta
	name="keywords"
	content="fisioterapia Urnieta, fisioterapeuta Gipuzkoa, tratamiento dolor, rehabilitación lesiones, osteopatía, punción seca, fisioterapia deportiva, centro fisioterapia, fisioterapia Urnieta Gipuzkoa, fisioterapeuta"
/>

<!-- Location-based meta tags -->
<meta name="geo.region" content="ES-SS" />
<meta name="geo.placename" content="Urnieta, Gipuzkoa" />
<meta name="geo.position" content="43.24656113552193;-1.9932571315890595" />
<meta name="ICBM" content="43.24656113552193, -1.9932571315890595" />

<OpenGraph />
<StructuredData />

<ThemeProvider />

<ClientRouter />

<!-- Google Analytics -->
<script>
	document.addEventListener('astro:page-load', () => {
		var host = window.location.hostname;
		if (host != 'localhost') {
			// Place Google Analytics code here.
		}
	});
</script>
