---
import { Header, Button, Footer } from '@components/odyssey-theme';
import Layout from './Base.astro';
import type { Props as BaseHeadProps } from '../components/head/BaseHead.astro';
import Logo from '../components/Logo.astro';
import { settings } from '@config/settings';
import { footerLists, footerSocials } from '../config/footer';

export interface Props {
	seo?: BaseHeadProps;
}

import { nav } from '@config/nav';
import { getLangFromUrl, useTranslations } from '@i18n/utils';

const { seo } = Astro.props as Props;
const url = Astro.url;
const lang = getLangFromUrl(url);
const t = useTranslations(lang);
const lastNavItem = nav.at(-1);
---

<Layout {seo}>
	<Header rightMenu navData={nav} slot="header">
		<Fragment slot="logo">
			<Logo />
		</Fragment>
		{
			lastNavItem && (
				<Button slot="action-item" href={`/${lang}${lastNavItem?.slug}`}>
					{t(lastNavItem.title)}
				</Button>
			)
		}
	</Header>
	<div id="page">
		<slot />
	</div>
	<Footer
		slot="footer"
		{footerLists}
		{footerSocials}
		copyrightName={settings.name}
	>
		<Logo slot="logo" />
	</Footer>
</Layout>
